<!DOCTYPE html>
<html>
<head>
    <title>Car App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <center>
        <h1>User Login</h1>
    </center>
</nav>
<br>
{% block content %}
    <center>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
        <p>You are not registerd?, click --> <a href="{% url 'registration' %}">Registartion</a></p>
    </center>
{% endblock %}
</body>
</html>